header {
  font-size: 28px;
  height: 93px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 21px;
  position: relative;
  text-align: center;

  @media (min-width: 520px) {
    height: 80px;
    padding-left: 30px;
    text-align: left;
  }

  #user-box {
    font-size: 18px;

    @media (min-width: 520px) {
      top: 0;
      height: 30px;
      display: inline;
      position: absolute;
      bottom: 0;
      right: 15px;
      margin: auto;
    }
  }
}

article {
  margin: 15px;
}

#login-form {
  max-width: 330px;
  margin: 30px auto 0 auto;
  text-align: center;

  h1 {
    font-size: 35px;
    margin-bottom: 22px;
  }
}