header {
  font-size: 28px;
  height: 80px;
  padding-left: 30px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 21px;
  position: relative;

  #user-box {
    height: 30px;
    font-size: 18px;
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
  }
}

article {
  margin: 15px;
}