@import "dimens";

.game-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.game-content {
  position: relative;

  .zoom-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

    button {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
  }
}

#canvas {
  position: absolute;
  cursor: pointer;
  //width: 100%;
  //height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}